.admin {
  display: flex;
  padding: $global-small-gutter;

  &__info {
    display: inline-block;
  }

  &__name {
    position: relative;
    font-size: $global-small-font-size;
    color: $gray-dark;
  }

  .button span {
    display: block;
    width: 3px;
    height: 3px;
    margin: 2px;
    border-radius: 50%;
    background-color: $global-color;
  }
}