.sidebar {
  position: fixed;
  top: $header-height;
  bottom: 0;
  width: $aside-width;
  margin-bottom: $global-large-gutter;
  padding: $global-small-gutter 0;
  border-right: 1px solid $global-border-darken;
  overflow-y: auto;
  background-color: $white-color;
}
