.carts {
  display: flex;
  flex-wrap: wrap;
}

.cart-folder {
  width: 164px;

  &__info {
    display: flex;
  }

  &__image {
  flex-basis: 35%;
  }

  &__text{
    flex-basis: 65%;
    padding-left: $global-xssmall-gutter;
  }

  &__check {
    opacity: 0;
  }

  &__quantity {
    color: $gray-dark;
  }


  &:hover {
    .cart-folder__text {
      color: $blue;
    }
    .cart-folder__check {
      opacity: 1;
    }
  }
}
