.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  border-bottom: 1px solid $global-border-darken;
  background-color: $global-background;
  z-index: $global-z-index;

  &__wrapper {
    display: flex;
  }

  &__blue-square {
    width: $aside-width;
  }

  &__container {
    padding: $global-small-gutter;
  }

  &__interaction {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: $global-small-gutter;
    border-right: $global-border-width solid $global-border;
    border-left: $global-border-width solid $global-border;
  }

  &__interaction-left {
    flex-grow: 1;
  }
}

