.icon {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  vertical-align: middle;
  fill: #313131;

  &:hover {
    fill: $blue;
  }

  &--inside {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    background: url('../src/img/trash.svg') no-repeat center;
    background-size: 20px;
  }
}

.icon-small {
  padding: 0;
  color: $gray-dark;
  font-size: $global-xsmall-font-size;

  svg {
    margin-right: 4px;
    vertical-align: middle;
    fill: $gray-dark;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.icon-small:not(:last-child) {
  margin-right: $global-xssmall-gutter;
}

.icon-inside {
  display: inline-block;

}