.list-items {

  &__item {
    border-left: 2px solid transparent;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $global-xssmall-gutter 0;
      font-size: $global-xsmall-font-size;
      color: $gray-light;
    }

    &:hover {
      border-left: 2px solid $brand-primary;
      background-color: $blue-light;

      .icon svg {
        fill: $blue;;
      }
    }
  }

  &--vertical {
    display: flex;
    justify-content: center;

    .list-items__item a {
      padding: 0 $global-xssmall-gutter;
    }

    .list-items__item:hover {
      background: transparent;
      border-color: transparent;
    }
  }
}