.search {
  position: relative;
  padding: $global-small-gutter;

  input {
    height: $global-control-height;
    width: 100%;
    padding: 0 $global-gutter;
  }

  &__btn-inside {
    position: absolute;
    left: 20px;
    top: 0;
    height: 100%;
    width: $global-gutter;
  }
}